body {
    background-image: url('../img/background.jpg');
}

#app-body {
    background: #c8dbffb9;
    height: 100%;
    width: 100%;
    margin-bottom:0;
    position: absolute;
    #app-name {
        text-align: center;
        color: #222;
        font-size: 40px;
        padding-top: 20px;
    }
}

//content
#nav-bar {
    color:#333;
    font-size: 18px;
    margin: auto;
    width: 900px;
    ul {
        list-style: none; 
    	margin: 0; 
        padding:10px 0;
        li{
            float: left;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-left:-15px;
            padding: 10px 40px; 
            text-decoration: none;
            cursor: pointer;
            border:1px solid gray;
            background: #ccc;
            width: 80px;
            text-align: center;
            &:hover{
                color:green;
            }
            &.active {
                color:#111;
                padding-bottom: 11px;
                cursor: default;
                background: #eee;
                border-bottom: none;
            }
        }
    }
}

#main-panel {
    display: block;
    padding-top:42px;
    max-width:1000px;
    height: 550px;
    margin: auto;
    margin-top: 33px;
    background-color: #eee;
    border-radius: 25px;

    #location-panel {
        text-align: center;
        display: block;

        #location-form {
            text-align: left;
            width:40%;
            padding:50px;
            padding-top: 80px;
            padding-bottom: 100px;
            float: left;
            margin: auto;
            border-right: 2px solid #888;
            input{
                padding-left: 4px
            }
            input:disabled {
                color: black;
                background-color: white;
            }
        }
        #location-map {
            img {
                width: 400px;
                height: 360px;
            }
        }
    }

    #current-weather-panel{
        text-align: center;
        #weather-info{
            text-align: center;
            width:40%;
            padding:50px;
            padding-top: 100px;
            padding-bottom: 100px;
            float: left;
            margin: auto;
            border-right: 2px solid #888;  
        }

        #current-weather-icon{
            text-align: center;
            padding-top: 100px;
            padding-bottom: 100px;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }

    #weekly-forecast{
        text-align: center;
        display: inline-block;
        margin: auto;
        box-sizing: border-box;
        .day-forecast{
            width: 120px;
            height: 180px;
            text-align: center;
            border: 2px solid gray;
            border-radius: 10px;
            background: white;
            float: left;
            margin: 20px;

        }
    }
}
