body {
    background-image: url('../img/background.jpg');
}

#app-body {
    background: #c8dbffb9;
    height: 100%;
    width: 100%;
    margin-bottom:0;
    position: absolute;
    #app-name {
        text-align: center;
        color: #222;
        font-size: 40px;
        padding-top: 20px;
    }
}

#nav-bar {
    color:#333;
    font-size: 18px;
    ul {
        list-style: none; 
    	margin: 60px auto 0; 
    	width: 660px;
        li{
            float: left;
            padding: 10px 40px; 
            text-decoration: none;
            cursor: pointer;
        }

    }
}

#main-panel {
    display: block;
    padding-top:40px;
    max-width:1000px;
    min-height: 550px;
    margin: auto;
    background-color: #eee;
    border-radius: 25px;

    #location-panel {
        text-align: center;
        left: center;
        display: block;

        #location-form {
            text-align: left;
            width:40%;
            padding-left: 100px;
            float: left;
            margin: auto;
        }
        #location-map {
            img {
                width: 400px;
            }
        }
    }
}
