<div id="weather-map-container">   
    <div id="option-selectors">
        <select id="map-layer">
            <option value="none">None</option>
            <option value="satellite-visible-transparent">Clouds</option>
            <option value="temperatures">Temperature</option>
        </select>
        <select id="map-zoom">
            <option value="5">1x</option>
            <option value="6">2x</option>
            <option value="7">3x</option>
            <option value="8">4x</option>
            <option value="12">6x</option>
            <option value="14">8x</option>
        </select>
    </div>
    <div id="weather-map">
        <img id="map-layover" src="{{layerUrl}}" style="opacity: 0.5; z-index:1">
        <img id="map-image" src="{{mapUrl}}">
    </div>
</div>