<div id="weather-map-container">   
    <div id="option-selectors">
        <select id="map-layer">
            <option value="none">None</option>
            <option value="satellite-visible">Clouds</option>
            <option value="radar">Precipitation</option>
            <option value="temperatures">Temperature</option>
            <option value="fwinds">Wind Speed</option>
        </select>
        <select id="map-zoom">
            <option value="5">1x</option>
            <option value="6">2x</option>
            <option value="7">3x</option>
            <option value="8">4x</option>
            <option value="12">6x</option>
            <option value="14">8x</option>
        </select>
        <span id="map-legend">
            <img id="map-key" src="../../../img/legends/legend-{{layer}}.svg" onerror="this.style.display='none'">
        </span>
    </div>
    <div id="weather-map">
        <img id="map-layover" src="{{layerUrl}}" style="opacity: 0.5; z-index:1">
        <img id="map-image" src="{{mapUrl}}">
    </div>
</div>